.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 15px;
}

.Children-1,.Children-2 {
  background: rgb(115, 157, 212);
}

.Children-1 table,.Children-2 table {
  background: rgb(104, 209, 200);
}

.worm {
  background: rgb(206, 226, 21);
}